
body {
    display: flex;
    background-color: #7777;
    font-family: 'Oswald', sans-serif;;
    font-weight: bold;
}

#main-container {
    margin: 150px;
    width: 600px;
}

table {
    background-color: white;
    text-align: left;
    border-collapse: collapse;
    width: 100%;
}

th, td {
  
    padding: 20px;
}

thead {
    background-color:black;
    border-bottom: solid 5px;
    color: white;

}

tr:nth-child(even) {
    background-color: aliceblue;
}

* {
    margin: 0px;
    padding: 0px;
  }
  
  #sidebar {
    position:fixed;
    width: 200px;
    height: 100%;
    background: #151719;
    left: -200px;
    transition: all 500ms linear;
  }
  
  #sidebar.active {
    left: 0px;
  }
  
  #sidebar ul li {
    color: rgba(230, 230, 230, .9);
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, .3);
    text-align: center;
  }
  
  .logo {
    border-radius: 50%;
    display: block;
    margin: 0 auto; 
  }
  
  #sidebar .toggle-btn {
    position: absolute;
    left: 230px;
    top: 20px;
    cursor: pointer;
  }
  
  #sidebar .toggle-btn span {
    display: block;
    width: 40px;
    text-align: center;
    font-size: 30px;
    border: 3px solid #000;
  }

 /* .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
 }

 .trasladar {
  
    transform: translateX(-100px);
 } */






