<html xmlns:th="http://www.thymeleaf.org" lang="es">
    <head>
        <title>GUARDAR</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h1>Crear Usuarios</h1>
            <form method="POST" th:action="@{/guardar}" >
                PASAPORTE:</br> 
                <input type="text" class="formulario"  name="npasaporte"></br>
                CORREO:</br> 
                <input type="text" class="formulario"  name="correo"></br>
                CONTRASEÑA:</br> 
                <input type="text" class="formulario"  name="contraseña"></br>
                NACIONALIDAD:</br> 
                <input type="text" class="formulario"  name="nacionalidad"></br>
                EPS:</br> 
                <input type="text" class="formulario"  name="eps"></br></br>
                
                <button>Agregar</button>
      </form>    
        </div>
    </body>
</html>
