<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Datos</title>
    </head>
    <body>
        <div>
            <h1>HOLA</h1>
            <p th:text = "${mensaje}">mensaje </p>
            <p th:text = "${correo}">mensaje </p>
            <br>
               <table class="mitabla">
                <thead>
                     <tr>
                        <th>Pasaporte</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Nacionalidad</th>
                        <th>eps</th>
                     </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${lista1}">
                              <th th:text="${usuario.npasaporte}"></th>
                              <th th:text="${usuario.correo}"></th>
                              <th th:text="${usuario.telefono}"></th>
                              <th th:text="${usuario.nacionalidad}"></th>
                              <th  th:text="${usuario.eps}"></th>
                                  
                   </tr>
                </tbody>
               </table>
            <p th:text = "${mensaje1}">mensaje</p>
             
                       
        </div>
    </body> 
</html>


            