<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/ciudad.css}" rel="stylesheet">
        <link th:href="@{/scss/custom.css}" rel="stylesheet">
        <link th:href="@{/css/normalize.css}" rel="stylesheet">
        <link rel="stylesheet"
            href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <title>Datos</title>
    </head>
    <body class="color-body body">
        <!-- <div>
            <h1>HOLA</h1>
            <p th:text = "${mensaje}">mensaje </p>
            <p th:text = "${correo}">mensaje </p>
            <p th:text = "${id}">id</p>
            <br>
               <table class="mitabla">
                <thead>
                   <tr>
                        <th>ID</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Pasaporte</th>
                        <th>Dpto_Residencia</th>
                        <th>Fecha_nacimiento</th>
                     </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${lista1}">
                        <th th:text="${usuario.Idusuario}"></th>
                       <th th:text="${usuario.nombres}"></th>
                       <th th:text="${usuario.apellidos}"></th>
                       <th th:text="${usuario.npasaporte}"></th>
                       <th th:text="${usuario.dpto_residencia}"></th>
                       <td th:text="${usuario.fecha_nacimiento}"></td>                                 
                    </tr>
                </tbody>
            </table> -->



            
            <header class="container-fluid bg-body h-auto word">
                <div class="row">
                    <h1 class="logo color-blue addCenter col-12 col-sm-10 mt-2 mt-4">C<span class="material-symbols-outlined">
                            coronavirus</span>vid<strong>Col</strong></h1>
                    <div class="col-12 col-sm-2">
        
                        <div class="row h-auto">
                            <div class="col-12 h-auto text-center">
                                <article>
                                    <a href="#">
                                        <span class="material-symbols-outlined mt-3 mb-3" style="font-size: 50px;">
                                            power_rounded
                                            </span>
                                    </a>
                                </article>
                            </div>
                            
        
        
                        </div>
                    </div>
            </header>
            

            
           


            

            <article class="card bg-light rounded rounded-4 mt-5 container">
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 text-center">
                            
                            <form method="POST" th:action="@{/guardarciudad}" >
                                <h2 class="m-2 mb-4">Datos de Viaje</h2>
                                <main class="container">
                                    <div class="row">
    
                                <div class="col-12 col-md-3">
                                    
                                    CIUDAD ACTUAL:</br> 
                                    <input type="text" class="formulario form-control border-primary rounded-4 mb-2  border border-3"  name="ciudad_actual"></br>
                                </div>
    
    
                                <div class="col-12 col-md-3">
                                    CIUDAD DESTINO:</br> 
                              <input type="text" class="formulario form-control border-primary rounded-4 mb-2  border border-3"  name="ciudad_destino"></br>
                                </div>
                             
                                <div class="col-12 col-md-3">
                                    VACUNAS:</br> 
                                    <input type="text" class="formulario form-control border-primary rounded-4 mb-2  border border-3"  name="numero_vacunas"></br>
                                </div>
    
                                <div class="col-12 col-md-3">
                                    SINTOMAS:</br> 
                                    <input type="text" class="formulario form-control border-primary rounded-4 mb-2  border border-3"  name="sintomas"></br> 
                                </div>
                                
                                <div class="col-12 col-md-3">
                                    <!--USUARIO:</br>--> 
                                    <input type="hidden" class="formulario form-control border-primary rounded-4 mb-2  border border-3"  name="usuario" th:value = "${id}"> </br> 
                                </div>
        
                           
                                <div class="col-12">
                                    <button class="btn btn-primary mt-4 text-white">Agregar</button>
                                </div>
                                   
                             
                             
                            </div>
                   
                        </main>
                        
                    </form>


                        </div>

                    
                    </div>
                </div>
            </article>
                    
             
                       
        </div>


        <footer class="container-fluid bg-body footer align-items-center">
            <div class="row addCenter">
                <div class="col-12">
                    <h6 class="logo color-blue addCenter col-12 col-sm-10 m-1">C<span class="material-symbols-outlined">
                        coronavirus</span>vid<strong>Col</strong></h6>
                </div>
            </div>
        </footer>


    </body> 
</html>


            